﻿@model WebApi.ViewModels.MessagesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>


<div class="row">
    <div class="col-md-12">
        <span class="pull-right">
            @Html.ActionLink("Create", "Create", "ViewMessages", null , new { @class = "btn btn-default" })
        </span>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <table id="TableOfSystems" class="table">
            <tr>
                <th>Message</th>
                <th>Show Date</th>
                <th>Show for (days)</th>
                <th class="text-center">Active</th>
            </tr>
            @foreach (var item in Model.view)
            {
                <tr id="@item.messageID" 
                    class="@item.tableRowDisplay @item.tableActiveTextDisplay"
                    onclick="location.href = '@(Url.Action("Amend","ViewMessages", new { Id = item.messageID }) )' ">
                    <td>@item.text</td>
                    <td>@item.showDate</td>
                    <td>@item.numberOfDays</td>
                    <td id="ActiveMessage" class="text-center" >@item.tableActiveText</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="pull-right">Created : @Model.pageCreatedAt</span>
    </div>
</div>
