﻿@model WebApi.ViewModels.ApplicationsMessagesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Applications Messages</h2>

<div class="row">
    <div class="col-md-12">
        <span class="pull-right">Created : @Model.pageCreatedAt</span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="TableOfSystems" class="table">
            <thead>
            <th>Identifier</th>
            <th>Name</th>
            <th>Description</th>
            <th>Active</th>
            </thead>
            @foreach (var item in Model.view)
            {
                <tr id="@item.applicationID" class="@item.tableRowDisplay">
                    <td>@item.applicationID</td>
                    <td>@item.name</td>
                    <td>@item.description</td>
                    <td>@item.tableActiveText</td>
                </tr>
            }
        </table>
    </div>
</div>



